/* Empty. Add your own CSS if you like */
#map {
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255) !important;
}
#right-panel {
  
    padding: 0 15px !important;
}

.scroll {
  height: 100%;
}
.adp, .adp table {
    color:rgb(242, 79, 30) !important;
}
.adp-placemark {
    background-color: #fff !important;
    border: medium none !important;
}
.adp-legal{ display:none !important;}
#rate_card_map{ width:100% !important; height:55% !important;background-color: #333333 !important;}